header, nav {
	margin-bottom: 1em;
	text-align: center;
}

footer, .maindiv {
	margin-top: 1em;
	text-align: center;
}

td, th {
	min-width: 3em;
}

textarea {
	height: 10em;
	width: 50em;
}

table {
	margin-left: auto;
	margin-right: auto;
	white-space: nowrap;
	table-layout: fixed;
}

#div_inbox table {
	max-width: 80em;
}

#div_inbox tr {
	display: grid;
	grid-template-columns: auto 3fr 1fr 1fr 1fr 3em;
	border-bottom: 1px solid #ddd;
}

td {
	margin: 0.1vh 0.4vw 0.1vh 0.4vw;
	overflow: hidden;
}

#div_inbox td:not(:nth-child(3)):not(:last-child) {
	text-align: left;
}

#div_inbox td:nth-child(3) {
	text-align: right;
}

#div_inbox td:last-child {
	text-align: center;
}

.bold {font-weight: bold;}
.mono {font-family: monospace, monospace;}
.topmargin {margin-top: 1em;}
.center {text-align: center;}
.left {text-align: left;}
.flex {display: flex;}
.flex input {flex: 1;}

#readmsg_title, #readmsg_body {
	white-space: pre-wrap;
}

#send_from {
	text-align-last: center;
}

#div_admin td:not(:first-child),
#div_admin th:not(:first-child),
#div_notes_contacts th:last-child,
#div_notes_contacts td:last-child,
#div_notes_texts td:last-child,
#div_notes_texts th:last-child,
#div_prefs_addresses td:not(:first-child),
#div_prefs_addresses th:not(:first-child) {
	text-align: center;
	width: 3em;
}

#gatekeeper_domain, #gatekeeper_addr {width:100%;}

#tbody_opt_addr {text-align: left;}

#tbl_limits input {width: 3em;}
#tbl_limits th, #tbl_limits td {text-align: center;}

#div_prefs_gatekeeper {margin: 0 auto;}

@media (prefers-color-scheme: dark) {
	body, input, textarea, select, button, a {
		background: #090909;
		color: #ddd;
	}

	#list_inbox > div, #list_sent > div {
		border-bottom: 1px solid #333;
	}
}
