header,
nav {
	margin-bottom: 1rem;
	text-align: center;
}

footer,
.maindiv {
	margin-top: 1rem;
	text-align: center;
}

fieldset {
	display: contents;
}

table {
	margin-left: auto;
	margin-right: auto;
	white-space: nowrap;
	table-layout: fixed;
}

td,
th {
	min-width: 3rem;
}

td {
	margin: 0.1vh 0.4vw;
	overflow: hidden;
}

textarea {
	height: 10rem;
	width: 50rem;
}

#div_inbox table {
	max-width: 80rem;
}

#div_inbox tr {
	display: grid;
	grid-template-columns: auto 3fr 1fr 1fr 1fr 3rem;
	border-bottom: 1px solid light-dark(#ddd, #333);
}

#div_inbox td:nth-child(3) {
	text-align: right;
}

#div_inbox td:last-child {
	text-align: center;
}

#div_inbox td:not(:nth-child(3)):not(:last-child) {
	text-align: left;
}

.mono {
	font-family: monospace, monospace;
}

.topmargin {
	margin-top: 1rem;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

#readmsg_title {
	white-space: pre-wrap;
}

#readmsg_body {
	white-space: pre-wrap;
	word-wrap: break-word;
	font-family: sans-serif;
}

#readmsg_body table {
	width: 100%;
}

#readmsg_body td {
	word-break: break-all;
}

#send_from {
	text-align-last: center;
}

#div_admin td:not(:first-child),
#div_admin th:not(:first-child),
#div_notes_contacts th:last-child,
#div_notes_contacts td:last-child,
#div_notes_texts td:last-child,
#div_notes_texts th:last-child,
#div_prefs_addresses td:not(:first-child),
#div_prefs_addresses th:not(:first-child) {
	text-align: center;
	width: 3rem;
}

#tbl_limits input {
	width: 3rem;
}

#tbl_limits th,
#tbl_limits td {
	text-align: center;
}

@media (prefers-color-scheme: dark) {
	body,
	input,
	textarea,
	select,
	button,
	a {
		background: #090909;
		color: #ddd;
	}
}
