html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #00000a;
}

@media only screen and (hover: hover) {
	#div_begin {
		height: 100%;
		background: radial-gradient(#00000a, #001);
		padding-top: 5vh;
		box-sizing: border-box;
	}
}

*:focus {outline: none;}

body > svg {
	display: none;
}

#div_main svg {
	height: 1.5em;
}

button::-moz-focus-inner {
	border: 0;
}

noscript {
	color: #fff;
}

/* -- Entry Screen -- */
#div_begin {
	text-align: center;
}

#div_begin > div * {
	margin: 0;
	padding: 0;
}

#div_begin > div {
	display: inline-grid;
	grid-template-columns: auto;
	grid-template-rows: 1fr auto 1fr;

	place-items: center center;
	place-content: center center;

	padding: 0 2em 0 2em;

	border: 0.4em double #642;
	box-shadow: 0 0.4em #321;
	background: #0d0804;
	border-radius: 2em;
}

#div_begin header, footer, a {
	color: #b3773b;
}

#div_begin header, footer {
	margin: 1.25em 0 1.25em 0;
}

#div_begin main {
	border: 0.2em double #446;
	box-shadow: 0 0.2em #223;
	background: #09090d;
	border-radius: 1em;
}

#div_begin main input {
	display: block;
	background: #233;
	border: 0.25em solid #233;
	color: #233;
	border-radius: 1em;
	text-align: center;
	transition: background-color 0.5s ease-out;
	margin: 2em;
}

#div_begin main button {
	background-image: radial-gradient(circle, #446, #09090d);
	border-radius: 3em;
	width: 3em;
	height: 3em;
	margin-bottom: 2em;
}

/* -- User Entered -- */
#div_main {
	scrollbar-color: #222 #333;
	padding: 2em;

	height:100%;
	display: none; /*grid*/
	grid-template-columns: 1fr 1em 1fr;
	background-image: radial-gradient(ellipse, #110a04, #080502);
	color: #fff;
	box-sizing:  border-box;
}

.main {
	background: #001;
	border-radius: 3em;
	overflow: hidden;

	display:grid;
	grid-template-rows: 3em auto 3em;
}

#main1 {
	box-shadow: -0.25em 0.25em black;
}

#main2 {
	box-shadow: 0.25em 0.25em black;
}

#div_main h1 {
	padding: 0 1em 0 1em;
	font-size: large;
	text-align: center;
	opacity: 0.45;
}

#div_main pre {
	margin:0;
	padding: 0 1em 0 1em;
	opacity: 0.55;
	white-space: pre-wrap;
	word-wrap: break-word;
	font-family: sans-serif;
	text-rendering: optimizeLegibility;
}

#list_inbox > div {
	display: grid;
	grid-template-columns: auto 2fr 1fr 3em;
}

.top, .bot {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: #001;
}

.mid {
	background: #080a08;
	overflow: hidden;
	border-left: 1em solid #001;
	border-right: 1em solid #001;
	border-radius:2em;
}

#midright {
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

#midright > iframe {
	background: #808080;
	border: 0;
}

#midright > img, #midright > video, #midright > embed, #midright > iframe {
	flex-grow: 1;
	object-fit: contain;
	height: 1px;
}

#midright > audio {
	margin: 0 auto;
	min-width: 90%;
}

#midright > table {
	width: 100%;
	table-layout: fixed;
	opacity: 0.5;
	font-family: monospace, monospace;
	padding-bottom: 0.25em;
	border-bottom: 1px solid #555;
}

.top button, .bot button {
	background: #000011;
	color: #fff;
	padding: 0;
	border: 0;
	height: 1.5em;
}

.top button:enabled, .bot button:enabled {
	opacity: 0.25;
	transition: opacity 0.2s;
}

.top button:disabled, .bot button:disabled {
	opacity: 0.0625;
	transition: opacity 0.2s;
}

.top button:enabled:hover, .bot button:enabled:hover {
	opacity: 0.5;
	transition: opacity 0.2s;
}

.top button:enabled:focus, .bot button:enabled:focus {
	opacity: 0.75;
	transition: opacity 0.2s;
}

button:enabled:focus, button:enabled:hover {
	cursor: pointer;
}

#div_inbox {
	height: 100%;
}

tr {
	height: 1.5em;
	overflow: hidden;
}

table, td {
	white-space: nowrap;
	overflow: hidden;
}

#tbl_inbox, #tbl_drbox {
	table-layout:fixed;
	width: 100%;
	transition: opacity 0.2s;
}

#tbl_inbox tr, #tbl_drbox tr {
	display: grid;
	grid-template-columns: auto 3fr 1fr 2fr;
	opacity: 0.5;
}

#tbl_inbox tr > td:nth-child(1), #tbl_drbox tr > td:nth-child(1) {
	font-family: monospace, monospace;
}

#tbl_inbox tr > td:nth-child(2n) {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#tbl_inbox tr:hover, #tbl_drbox tr:hover, #tbd_uploads tr:hover {
	background: #1a1a1a;
	cursor: pointer;
}

#tbl_inbox tr > td:nth-child(3n) {
	text-align: right;
	direction: rtl;
}

#tbd_uploads td:nth-child(1) {
	font-family: monospace, monospace;
}

#tbd_uploads td:nth-child(2) {
	cursor: pointer;
}

.mono {
	font-family: monospace, monospace;
}

.center {
	text-align: center;
}

#div_gk {
	max-width: max-content;
	margin: 0 auto;
}

#div_gk > p {
	text-align: center;
	opacity: 0.5;
	font-weight: bold;
}

#div_gk > p:first-of-type {margin: 0;}
#div_gk > p:not(:first-of-type) {margin: 1em 0 0 0;}

#div_gk select {width: 100%;}
#div_gk .flex {display: flex;}
#div_gk .flex input {flex: 1;}

#div_acc > table, #fs_accs {
	border: 0;
	margin: 0 auto 0 auto;
}

#tbd_accs td:nth-child(1),
#tbd_accs td:nth-child(2),
#tbd_accs td:nth-child(3),
#tbd_accs td:nth-child(4),
#tbd_accs td:nth-child(5) {
	opacity: 0.5;
	font-family: monospace, monospace;
}

#tbd_accs td:nth-child(2),
#tbd_accs td:nth-child(3),
#tbd_accs td:nth-child(4) {
	text-align: right;
}

#tbd_accs td:nth-child(5),
#tbd_accs td:nth-child(6),
#tbd_accs td:nth-child(7),
#tbd_accs td:nth-child(8) {
	text-align: center;
}

#div_acc > p {
	text-align: center;
}

#div_notes table {
	border-bottom: 1px solid #333;
	padding-bottom: 0.25em;
}

#div_write, #div_write_1, #div_notepad {
	display: flex;
	flex-flow: column;
	padding: 0 1em 0 1em;
	height:100%;
}

#div_write_1 {
	text-align: center;
}

.flex0 {
	flex: 0 1 auto;
}

.flex1 {
	flex: 1 1 auto;
}

.grid0 {
	display: grid;
	grid-template-columns: auto auto auto auto;
	justify-content: space-between;
}

#main1 .mid input, #main1 .mid textarea, #main1 .mid select, #main1 .mid button {
	background: #000;
	border: 1px solid #555;
	font-size: 1em;
}

#main1 .mid input, #main1 .mid textarea, #main1 .mid select {
	color: #fff;
}

#main1 .mid button:enabled {
	transition: color 0.2s ease-out;
	color: #fff;
}

#main1 .mid button:disabled {
	transition: color 0.2s ease-out;
	color: #777;
}

#main1 .mid input, #main1 .mid button, #main1 .mid select {
	opacity: 0.5;
}

#div_write_1 input, select {
	min-width: 75%;
}

#div_write_1 select, #write_recv, #txt_reg {
	font-family: monospace, monospace;
}

#write_body, #txt_notepad {
	width: 100%;
	height: 100%;
	opacity: 0.55;
	font-family: sans-serif;
	resize: none;
}

#div_notes, #div_notes > div {
	height: 100%;
}

hr {
	opacity: 0.25;
}

#write2_recv, #write2_from, #write2_subj, #write2_body {
	opacity: 0.55;
	white-space: pre-wrap;
}

#write2_recv {
	width: 100%;
	text-align: center;
	font-weight: bold;
}

#write2_pkey {
	text-align: center;
}

#write2_pkey input {
	font-family: monospace, monospace;
	text-align: center;
}

#write2_subj {
	font-size: large;
	font-weight: bold;
}

#div_notes table {
	width: 100%;
}

#div_notes table tr td:last-of-type, #table_addrs td:not(:first-of-type) {
	text-align: center;
	width: 3em;
}

#mymsgpubkey {
	font-family: monospace, monospace;
}

#table_addrs > tfoot button {
	width: 100%;
}

#div_notes tbody tr td:not(:last-of-type) {
	opacity: 0.55;
}

thead {
	opacity: 0.4125;
}

caption {
	opacity: 0.4125;
	font-weight: bold;
	margin: 0.25em 0 0.25em 0;
}

#table_addrs {
	margin: auto;
	border: 1px solid #222;
	border-spacing: 0.25vw;
}

#table_addrs > tfoot tr:first-of-type > td {
	border-top: 1px solid #222;
	height: 0.1em;
}

#tbl_addrs td:not(:last-of-type), #limit_normal, #limit_shield, #limit_total {
	opacity: 0.55;
}

#tbl_addrs td:first-of-type, #table_addrs tfoot input {
	font-family: monospace, monospace;
	text-align: right;
	font-size: 1em;
}

#table_addrs tfoot td, #table_addrs tfoot button {
	text-align: center;
}

#tbl_addrs td:first-of-type {
	padding-right: 2px;
}

.half {
	opacity: 0.5;
}

[hidden] {
  display: none !important;
}
