html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #00000a;
}

@media only screen and (hover: hover) {
	#div_begin {
		height: 100%;
		background: radial-gradient(#00000a, #001);
		padding-top: 5vh;
		box-sizing: border-box;
	}
}

[hidden] {
	display: none !important;
}

*:focus {
	outline: none;
}

body > svg {
	display: none;
}

button::-moz-focus-inner {
	border: 0;
}

button:enabled:focus,
button:enabled:hover {
	cursor: pointer;
}

dialog,
dialog div {
	margin: 0;
	padding: 0;
	border: 0;
}

dialog {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
}

dialog[open] {
	display: block;
}

dialog:not([open]) {
	display: none;
}

dialog > div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: rgba(8,10,8,0.85);
	z-index: 1;
}

dialog h1,
dialog p {
	opacity: 0.55;
}

dialog h1 {
	margin-top: 0;
}

dialog p {
	margin-bottom: 0;
}

meter {
	width: 100%;
}

hr {
	opacity: 0.25;
}

thead {
	opacity: 0.4125;
}

table,
td {
	white-space: nowrap;
	overflow: inherit;
}

tr {
	height: 1.5em;
	overflow: hidden;
}

textarea {
	width: 100%;
	height: 100%;
	opacity: 0.55;
	font-family: sans-serif;
	resize: none;
}

.flex0 {
	flex: 0 1 auto;
}

.flex1 {
	flex: 1 1 auto;
}

.grid0 {
	display: grid;
	grid-template-columns: auto auto auto auto;
	justify-content: space-between;
}

.half {
	opacity: 0.5;
}

.ita {
	font-style: italic;
}

.mono,
#div_write_1 select,
:is(#tbl_drbox, #tbl_files, #tbl_inbox) td:first-child,
#txt_reg,
#write_recv {
	font-family: monospace, monospace;
}

.center,
#div_begin,
#div_write_1,
#div_acc > p,
#tbl_limits,
#table_addrs tfoot td,
#table_addrs tfoot button {
	text-align: center;
}

.sans {
	font-family: sans-serif;
}

/* Begin */

#div_begin,
#div_begin a {
	color: #b3773b;
}

#div_begin > div {
	display: inline-grid;
	grid-template-columns: auto;
	grid-template-rows: 1fr auto 1fr;
	place-items: center center;
	place-content: center center;
	padding: 0 2em;
	border: 0.4em double #642;
	box-shadow: 0 0.4em #321;
	background: #0d0804;
	border-radius: 2em;
}

#div_begin :is(header, footer) {
	margin: 1.25em 0;
}

#div_begin > div > header * {
	margin: 0;
	padding: 0;
}

#div_begin main {
	border: 0.2em double #446;
	box-shadow: 0 0.2em #223;
	background: #09090d;
	border-radius: 1em;
}

#div_begin main button {
	background-image: radial-gradient(circle, #446, #09090d);
	border-radius: 3em;
	width: 3em;
	height: 3em;
	margin-bottom: 2em;
}

#txt_skey {
	display: block;
	margin: 2em;
	text-align: center;
	border: 0.25em solid #233;
	border-radius: 1em;
	color: #233;
	transition: background-color 0.5s ease-out;
}

#txt_skey:disabled,
#txt_skey[maxlength="0"] {
	background-color: #233;
}

#txt_skey:not(:disabled)[maxlength="64"] {
	background-color: #466;
}

/* Main */

#div_main {
	padding: 2em;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-image: radial-gradient(ellipse, #110a04, #080502);
	box-sizing: border-box;
}

.main {
	scrollbar-color: #222 #333;
	background: #001;
	border-radius: 3em;
	overflow: hidden;
	display: grid;
	grid-template-rows: 3em auto 3em;
}

#main1 {
	box-shadow: -0.25em 0.25em black;
	margin-right: 0.5em;
}

#main2 {
	box-shadow: 0.25em 0.25em black;
	margin-left: 0.5em;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

nav svg {
	height: 1.5em;
}

nav > button {
	background: #000011;
	padding: 0;
	border: 0;
	height: 1.5em;
	transition: opacity 0.2s;
}

nav > button:disabled {
	opacity: 0.0625;
}

nav > button:enabled {
	opacity: 0.25;
}

nav > button:enabled:hover {
	opacity: 0.5;
}

nav > button:enabled:focus {
	opacity: 0.75;
}

.mid {
	background: #080a08;
	border-left: 1em solid #001;
	border-right: 1em solid #001;
	border-radius: 2em;
}

.mid button {
	transition: color 0.2s ease-out;
}

dialog,
.mid,
.mid :is(a, input, select, textarea, button:enabled) {
	color: #fff;
}

.mid button:disabled {
	color: #777;
}

.mid :is(button, input, select, textarea) {
	background: #000;
	border: 1px solid #555;
	font-size: 1em;
}

.mid :is(button:not([data-msgid]), input, select) {
	opacity: 0.5;
}

.mid > div {
	height: 100%;
}

#tbl_inbox,
#tbl_drbox,
#tbl_files {
	table-layout: fixed;
	height: 100%;
	width: 100%;
	transition: opacity 0.2s;
}

#tbl_inbox tr,
#tbl_drbox tr,
#tbl_files tr {
	display: grid;
	opacity: 0.5;
}

#tbl_inbox tr,
#tbl_drbox tr {
	grid-template-columns: auto 3fr 1fr 2fr;
}

#tbl_files tr {
	grid-template-columns: auto auto 1fr auto;
}

:is(#tbl_ctact, #tbl_drbox, #tbl_files, #tbl_inbox) tr:hover {
	background: #1a1a1a;
}

:is(#tbl_drbox, #tbl_files, #tbl_inbox) tr:hover {
	cursor: pointer;
}

#tbl_files td:nth-child(2) {
	font-family: monospace, monospace;
	margin: 0 1em 0 1em;
	text-align: right;
	white-space: pre;
}

#tbl_inbox tr > td:nth-child(2n) {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#tbl_inbox tr > td:nth-child(3n) {
	text-align: right;
	direction: rtl;
}

#div_write,
#div_write_1,
#div_notepad {
	display: flex;
	flex-flow: column;
	padding: 0 1em;
	height: 100%;
}

#div_write_1 :is(select, input) {
	min-width: 75%;
}

#write2_from,
#write2_subj,
#write2_body {
	opacity: 0.55;
	white-space: pre-wrap;
}

#write2_send,
#write2_pkey {
	width: 100%;
	text-align: center;
}

#write2_pkey input {
	font-family: monospace, monospace;
	text-align: center;
}

#write2_recv {
	font-weight: bold;
}

#write2_subj {
	font-size: large;
	font-weight: bold;
}

/* Tab 4/5: Notes */
#div_notes,
#div_notes > div {
	height: 100%;
}

#div_notes > div:first-of-type > table {
	border-bottom: 1px solid #333;
	width: 100%;
}

#div_notes > div:first-of-type > table :is(thead, td:not(:last-of-type)) {
	text-align: left;
	opacity: 0.55;
}

#div_notes > div:first-of-type > table :is(th, td):last-of-type,
#table_addrs td:not(:first-of-type),
#tbl_accs :is(th, td):not(:first-of-type) {
	text-align: center;
	width: 3em;
}

/* Tab 5/5: Tools */
#div_tools {
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 100%;
}

#table_addrs {
	margin: auto;
	border: 1px solid #222;
	border-spacing: 0.25vw;
}

#table_addrs > tfoot button {
	width: 100%;
}

#table_addrs > tfoot tr:first-of-type > td {
	border-top: 1px solid #222;
	height: 0.1em;
}

#tbl_addrs td:not(:last-of-type),
#limit_normal,
#limit_shield,
#limit_total {
	opacity: 0.55;
}

#tbl_addrs td:first-of-type {
	cursor: copy;
	padding-right: 2px;
}

#tbl_addrs td:first-of-type,
#table_addrs tfoot input {
	font-family: monospace, monospace;
	text-align: right;
	font-size: 1em;
}

#div_acc > table {
	border: 0;
	margin: 0 auto;
}

#tbd_accs td {
	font-family: monospace, monospace;
}

#tbd_accs td:nth-child(1),
#tbd_accs td:nth-child(2),
#tbd_accs td:nth-child(3),
#tbd_accs td:nth-child(4),
#tbd_accs td:nth-child(6) {
	opacity: 0.5;
}

/* Main2 */
#main2 article {
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

#main2 article > table {
	width: 100%;
	table-layout: fixed;
	opacity: 0.5;
	font-family: monospace, monospace;
	padding-bottom: 0.25em;
	border-bottom: 1px solid #555;
	flex: none;
}

#main2 article > h1 {
	font-size: large;
	text-align: center;
	opacity: 0.45;
}

#main2 article > pre {
	margin: 0;
	padding: 0 1em;
	opacity: 0.55;
	white-space: pre-wrap;
	word-wrap: break-word;
	font-family: sans-serif;
	text-rendering: optimizeLegibility;
}

#main2 article > pre > p {
	margin-top: 0;
}

#main2 article > pre > p:nth-child(2) {
	margin-bottom: 0.5em;
}

#main2 article > :is(img, video, embed, iframe) {
	flex-grow: 1;
	object-fit: contain;
	height: 1px;
	border: 0;
}

#main2 article > audio {
	margin: 0 auto;
	min-width: 90%;
}
